@import 'style/vendor/tachyons.4.11.2.styl'
@import 'style/vendor/debug.grid.css'
@import 'style/_colors.styl'

html, body
  font-size: 20px
  min-height: 100vh
  
body
  @extends .w-100, .flex, .flex-column, .items-center, .sans-serif
  overflow-y: scroll

body, p, small, a, li, h1, h2, h3, h4, h5, h6
  font-family: 'Nunito Sans', -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif
  
main
  min-height: 80vh !important

.bw05
  border-width: 1px
  
textarea
  resize: none

.min-vh-80
  min-height: 80vh
  
.t1
  font-size: 2vh
  
.lh-list
  line-height: 1.5rem

article.post
  max-width: 72ex
  
section
  width: 100%
  
@import 'style/_navbar.styl'
@import 'style/_typography.styl'
@import 'style/_layout.styl'
@import 'style/_components.styl'
