$black=#131023

$blue=#5178D1
$dark-blue=#1D9CD1
$darker-blue=#035F86

$purple=#6464d8
$dark-purple=#25203d

$red=#f00
$dark-red=#f00
$white=#fff

:focus
  outline: 2px solid $purple

.bg-black, .hover-bg-black:hover
  background-color: $black
  a, a:active, a:visited, a:hover
    &.link
      color: white
      transition: none

.bg-purple, .hover-bg-purple:hover
  background-color: $purple
  a, a:active, a:visited, a:hover
    &.link
      color: white
      transition: none

.bg-dark-purple, .hover-bg-dark-purple:hover
  background-color: $dark-purple
  a, a:active, a:visited, a:hover
    &.link
      color: white
      transition: none

.bg-red, .hover-bg-red:hover
  background-color: $red
  border-color: $red
  transition-property: background-color, border
  transition-duration: 0.3s, 0.3s

a.hover-bg-none:hover
  background-color: rgba(0,0,0,0)

.bg-white, .hover-bg-white:hover
  background-color: $white

.bg-blue
  background-color: $blue
  
.black
  color: $black
  
.b--black
  border-color: $black
  
.b--purple
  border-color: $purple

.blue
  color: $blue
  
object.white svg
  color: white
  background-color: white
  
::selection
  background-color: rgba(100, 100, 216, 0.99)
  color: white
  opacity: 1
    