.container
  width: 100%
  max-width: 65ex

section.min-vh-100
  min-height: 98vh
  
section.min-vh-60
  min-height: 60vh
  
section.min-vh-50
  min-height: 50vh
  
section.min-vh-33
  min-height: 33.3333vh
  
section.min-vh-25
  min-height: 25vh

section.min-vh-20
  min-height: 20vh
  
section.hero
  min-height: 4rem
  
.blog-post
  max-width: 80ex
  @extends .lh-copy