.chat.shadow-2.flex.bg-black-50.pa2.br2.shadow-2.flex-column.tl.h-100
  #chat-messages.w-100.h-100.flex.white.flex-column.overflow-y-scroll.mv1.code
    each val in messages
      div #{val}
  form#chat-form.pa0.ma0(action="/" method="post")
    input#chat-input.br2.bw0.pa2.w-100.bg-light-eggplant(type="text" name="command")
