head
  title xor alpha 4
  meta(charset="utf-8")
  link(rel="stylesheet" href="tachyons.min.css")
  link(rel="stylesheet" href="style.css")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap")
  script(src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous")
  script(src="./script.js")
