extends /templates/layouts/_layout.pug

block body  
  include /templates/components/navbar.pug

  main.w-100.flex.flex-column.items-center.mv3
    .container.flex.flex-row.justify-center.ph2
      div.mv3.dn.flex-ns(style="min-width: 33%")
        include /templates/components/sidebar.pug
      div.flex.flex-auto.ph2(style="min-width:512px")
        .container
          h2 #{ meta.title }
          |!{ content }

  include /templates/components/footer.pug
