extends /templates/layouts/layout.pug

block body
  main.flex.flex-row(style="width: 100ex;")
    div.dn.flex-ns(style="min-width: 33%")
      include /templates/components/sidebar.pug
    div
      .container.pv4
        h2.lh-title.f2.f1-ns.mt0.mv1
          | #{ post.data.title }

        div
          | !{ post.content }
