extends /templates/layouts/layout.pug

block body
  section.home-hero.bg-dark-purple.white.flex.items-center.justify-center.ph3.flex-column
    .container.tc.flex.flex-column.justify-center.items-center.h-100.pv4
      h2.lh-title.f2.f1-ns.mt0.mv1
        | Rulebook

  section.home-hero.bg-white.black.flex.items-center.ph3.flex-column
    .container.pv4
      ol
        each post in routes.rulebook
          li.lh-copy
            a.link(href='/rulebook/' + post.slug)
              |#{ post.title }
