html
  include includes/head.pug

  body.sans-serif.h-100.flex.flex-column.items-center.w-100.overflow-hidden
    .flex.flex-column.w-100.items-center
      include includes/nav.pug
      .container.flex.flex-column.h-100.ph4.w-100.pa4.justify-center.items-center
        main.b--blue.flex.flex-column.w-100
          #top-part.flex.flex-row.w-100
            .mr1.w-70.flex.flex-column
              include includes/map.pug
            .ml1.w-30.flex.flex-column
              include includes/sidebar.pug
          #bottom-part.mv2.flex.flex-row.w-100
            .mr1.w-70
              include includes/chat.pug
            .ml1.w-30
              include includes/stats.pug