extends /templates/layouts/default.pug
    
block content
  section.bg-purple.white.pv3
    .container.blog-post
      article.tl
        span Game
  section.blog-post
    .container
      h2.f2 Game

      h3.f3 Mechanics

      ul.list.pl0.lh-copy
        li
          a(href="/game/story") Story
        li
          a(href="/game/paths") Paths
        li
          a(href="/game/machines") Machines
        li
          a(href="/game/world") World
        li
          a(href="/game/equipment") Equipment
        li
          a(href="/game/spells") Spells

      h3.f3 Technology

      ul.list.pl0.lh-copy
        li
          a(href="/game/technology") Technology
