nav#navbar
  padding: 1rem 0
  a
    @extends .white
    box-shadow: none

input#navbar-toggle
  display: none

#nav-logo
  height: 1.5rem


@media only screen and (max-width: 30rem)
  input#navbar-toggle ~ .menu-mobile
    display: none

  input#navbar-toggle:checked ~ .menu-mobile
    display: block
    
  nav #navbar-button
    line-height: 20px
    width: 20px
    height: 20px

  #navbar-toggle ~ nav #navbar-button:after
    content: '☰'
    font-family: monospace

  #navbar-toggle:checked ~ nav #navbar-button:after
    content: '✕'
