section.flex.flex-column.items-center.tc.pv5.ph2.min-vh-25

  .container.flex.flex-column.justify-center.items-center.tl

    p.tc
      a.bsn.button(href="/company/contact") 
        span.white Contact us for more information