body {
  background-color: #111;
  color: #fff;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  font-size: 16;
}

.hidden {
  display: none;
}

#palette {
  max-width: 36ex;
}

.green {
  color: rgb(0, 255, 0);
}

img.emoji {
  height: 1.25em;
  width: 1.25em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
