h2
  @extends .fw2, .f3, .f2-ns

blockquote
  @extends .w-100, .dib, .mh0, .mv2
  span
    @extends .tl, .mw9, .fw2, .bg-purple, .white, .f4, .f3-ns, .f3-l, .lh-title
cite
  @extends .dib, .w-100, .tr, .f7, .f6-ns, .f5-l, .mt3
