

footer.bg-black.white.flex.justify-center.pv3.pv4-ns.w-100
  .container.tc.flex.flex-column
    .flex.flex-row-ns.flex-column-m.flex-column
      .mr3
        a.hover-bg-none.bsn.link.white.flex.items-center(href="/" itemscope itemtype="https://schema.org/Organization") 
          img.h2(itemprop="logo" src="/images/logo/xor.svg")
        .w5.tl.mv4
          each site in social.sites
            span.mh2
              small.f7 
                a.hover-bg-none.bsn.link.white.underline(href=site.url target="_new") 
                  img.w1.h1(src=site.src alt=site.name)
    .mt3
      small.f7.db.tl(itemscope)
        span.mh1 © 2019-2022
        span.mh1
          a(href="https://jonathandupre.com")
            span.white Jonathan Dupré
