extends /templates/layouts/default.pug

block head
  section.min-vh-100.home-hero.bg-dark-purple.white.flex.items-center.justify-center.ph3.flex-column

    .container.mt6.tc.flex-column.flex.justify-center.items-center
      h2.lh-title.f2.f1-ns.mt0
        | #{ strings.index.title }
        br
      h4.f5.f3-ns.fw1.lh-copy.mw6
        | #{ strings.index.subtitle }

