.browser.shadow-2.h-100
  div.bg-gray.br2.br--top.h-100.flex.flex-column
    div.h1.header.flex.h1.pa2
      div.w05.h05.ma1.br-pill.bg-red
      div.w05.h05.ma1.br-pill.bg-yellow
      div.w05.h05.ma1.br-pill.bg-green
    div.h2.tabs.flex.flex-row
      div.w4.h2
        | &nbsp
      div.h2.bg-white-30.br3.flex.items-center.justify-center.br--top
        span.mh4.f6 Wizards Guild
    div.h3.bg-white-30.w-100
      div.flex.flex-row.items-center.consolas.pa1
        div.pa1.mh1 <
        div.pa1.mh1 >
        form.br2.mv1.mr5.bw0.w-100.bg-white.flex.items-center(action="/")
          span.mh2 🌎
          input.w-100.bl0.br2.bw0.bg-white.pa2(value=uri name="uri")


    iframe.flex.br2.br--bottom.bw0.w-100.h-100(src=uri)
