extends /templates/layouts/layout.pug

block body
  section.min-vh-50.home-hero.bg-dark-purple.white.flex.items-center.justify-center.ph3.flex-column

    .container.mt6.tc.flex-column.flex.justify-center.items-center
      h2.lh-title.f2.f1-ns.mt0
        | About
        br

  section.home-hero.bg-white.black.flex.items-center.ph3.flex-column
    .container.pv4
