body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: #202020;
}

#terminal {
  box-shadow: .2ex .2ex rgba(0, 0, 0, 0.05);
  text-shadow: .2ex .2ex rgba(0, 0, 0, 0.025);
}

#terminal * {
  cursor: default;
}

#terminal div {
  overflow: hidden;
}

.terminal span {
  /* font-variant: text; */
}

/* .terminal span { */
  /* text-transform: full-width; */
  /* letter-spacing: .67ex; */
  /* line-height: 2.3ex; */
/* } */

@font-face {
  font-family: "KernelQuest";
  src: url("./JetBrainsMono-Medium") format('woff2');
  /* src: url("./monogram-extended") format('woff2'); */
}
 
/* @font-face {
  font-family: "Emojis";
  src: url("NotoColorEmoji") format("woff2");
} */

  /* src: url("TwitterColorEmoji-SVGinOT.ttf") format("truetype"); */
  /* src: url("./CustomEmoji") format('woff2'); */
  /* unicode-range: U+1F934; */