body > div {
  zoom: 1.5;
}

html, body {
  font-family: 'Open Sans' !important; 
  background-color: #281C3E;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}

.bg-yellow-50 { background-color: rgba(255,255,0, 0.5); }

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.grayscale img.emoji {
  filter: grayscale(1);
}

.colored img.emoji {
  filter: hue-rotate(180deg);
}

.w05 { width: 1.5ex; }
.h05 { height: 1.5ex; }

nav { background-color: #150D24; }

.bg-light-eggplant {
  background-color: #3B314F;
  color: #fff;
}

/* main {
  max-width: 48rem;
} */

.chat, .stats {
  height: 24ex;
}
.hover-b--black-30:hover {
  border-color:  rgba(0,0,0,0.3);
}
.hover-bg-black-10:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.hover-br1:hover {
  border-radius: .125rem;
}

.hoverable .hidden-text { opacity: 0 }
.hoverable:hover .hidden-text { opacity: 1 }

.stroke-white {
  text-shadow: -1px 1px 1px #fff,
    1px 1px 1px #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

@keyframes wiggle {
  10% { transform: rotate(0deg); }
  15% { transform: rotate(5deg); }
  25% { transform: rotate(-5deg); }
  30% { transform: rotate(0deg); }
}

.wiggle {
  animation: none;
}

.wiggle:hover {
  animation: wiggle 2.3s infinite;
}

@keyframes move-south {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, 1.125rem, 0); }
}
.move-south:hover {
  animation: move-south 1.5s linear infinite;
}

@keyframes move-west {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-2rem, 0, 0); }
}
.move-west:hover {
  animation: move-west 1.5s infinite;
}

.bg-parchment {
  background-color: #ceca9f;
}

.bg-beige {
  background-color: #c1baa9;
}

.bg-green {
  background-color: #b1c1a9;
}

.bg-forest {
  background-color: #b1c1a9;
}


.bg-blue {
  background-color: #a9c1b9;
}

.bg-red {
  background-color: #df5f81;
}

.over {
  margin-top: -100%;
}

.clickthrough {
  pointer-events: none;
}

.clickable {
  pointer-events: all;
}

.pa05 {
  padding-top: 0.0625rem;
  padding-left: 0.0625rem;
}

.tooltip-text {
  position: absolute; 
  opacity: 0;
  visibility: hidden;
  margin-top: -100%;
  left: -50%;
  transition: 0.3s;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

@keyframes glowing {
  0% { opacity: 0.90; }
  100% { opacity: 1; }
}
.glowing :not(.tooltip-text) {
  animation: glowing 0.3s alternate infinite;
}

@keyframes pulsing {
  0% { transform: scale3d(1, 1, 1); transform: translate3d(0,0,0); }
  50% { transform: scale3d(1, 1.1, 1.1); transform: translate3d(0,10%,0); }
  100% { transform: scale3d(1, 1, 1); transform: translate3d(0,0,0); }
}
.pulsing-slow :not(.tooltip-text) {
  animation: pulsing 0.9s ease-in infinite;
}
.pulsing-fast :not(.tooltip-text) {
  animation: pulsing 0.3s alternate infinite;
}

@keyframes squeazing {
  0% { transform: scale3d(1, 1, 1); }
  25% { transform: scale3d(1.2, 0.9, 1); }
  50% { transform: scale3d(1, 1, 1); }
  75% { transform: scale3d(0.9, 1.2, 1); }
}
.squeazing :not(.tooltip-text) {
  animation: squeazing 1.5s ease-in infinite;
}
.squeazing-slow :not(.tooltip-text) {
  animation: squeazing 3.4s ease-in-out infinite;
}

.bw05 {
  border-width: 0.0125rem
}

.floatable:hover {
  transform: translate3d(0, -0.125rem, 0);
  transition: 0.4s;
}

.hover-b--white:hover {
  border-color: rgba(255,255,255,0.3);
  background-color: rgba(0,0,0,0);
}

.hover-bg-black-50:hover {
  background-color: rgba(0,0,0,0.05);
}

.bg-place {
  background-color: #c1baa9;
}