extends /templates/layouts/_layout.pug

block body  
  include /templates/components/navbar.pug

  section.bg-black.min-vh-50.flex.flex-column.items-center.justify-center
    div.flex.flex-column.tc(style="max-width: 32rem;")
      h2.f2.white #{ meta.title }
      h3.f3.white.mt0 #{ meta.subtitle }

  main.w-100.flex.flex-column.items-center.mv3.pv3
    .container.blog-post
      |!{ content }

  include /templates/components/footer.pug
