extends /templates/layouts/_layout.pug

block body  
  include /templates/components/navbar.pug
  main.flex.flex-auto.flex-column.items-center.bg-white
    .w-100.bg-black.h3.pt5.pb3.db
      |&nbsp;
    block header
    .flex.flex-row
      block sidebar
      block content

  include /templates/components/footer.pug
