.purple-underline
  box-shadow: inset 0 -4px 0 $purple

a
  color: $black
  transition-duration: 0.3s, 0.3s
  transition-property: background-color, color
  text-decoration: none
  @extends .purple-underline
  
a:visited
  color: $black

a:hover
  background-color: $purple
  color: $white
  transition-duration: 0.3s, 0.3s
  transition-property: background-color, color

.bsn
  box-shadow: none

hr
  @extends .mv5, .w4
  border-color: #999
  border-width: 0.5px
    
.button
  @extends .input-reset, .ba, .b--black, .br2
  @extends .bg-black, .white
  @extends .pv2, .ph3, .mv2
  transition-duration: 0.3s, 0.3s, 0.3s
  transition-property: background-color, color, border-color
  &:hover
    @extends .pointer:hover, .hover-bg-purple:hover
    transition-duration: 0.3s, 0.3s, 0.3s
    transition-property: background-color, color, border-color

.button.is-primary
  @extends .bg-purple, .white

ul.tags
  @extends .list, .pl0
  li
    @extends .dib, .pr2
    a
      @extends .pv1, .ph3, .pr2, .dib
      @extends .link, .bg-dark-gray, .white, .f7, .br1
      @extends .bsn
      transition-duration: 0.3s, 0.3s
      transition-property: background-color, color
      &:hover
        background-color: $purple
        transition-duration: 0.3s, 0.3s
        transition-property: background-color, color

code
  background-color: $black
  color: $white
  border-radius: 3px
  @extends .pa1, .f7
  
pre
  code
    display: inline-block
    width: 100%
    overflow-x: scroll
    @extends .pa3

input[type="text"], 
input[type="email"]
  @extends .br2
  
blockquote
  @extends .pa3, .bl, .bw3, .b--purple
  
.pricing-table table
  @extends .w-100